node_modules/*
venv/*
_pycache__/*
*.pyc
*.pyo   
*.pyd
*.env
.DS_Store
.idea/
uv.lock
test.py
test1.py
test_ssh.py
.env
backup.txt
.env
package-lock.json
*.txt
.venv/*
app.egg-info/PKG-INFO
network_mcp_chat.egg-info/PKG-INFO
app.egg-info/PKG-INFO
*.log
app.egg-info/PKG-INFO


chroma/*
rag_demo.egg-info/*
